.full-height
  height: 100% !important

.full-width
  width: 100% !important

.padding-no
  padding: 0

.margin-no
  margin: 0

.margin
  display: block
  margin-top: .5rem
  margin-bottom: .5rem



.bold
  font-weight: bold

.strike
  text-decoration: line-through

.left
  text-align: left
.center
  text-align: center
.right
  text-align: right

.block
  display: block
.inline-block
  display: inline-block
.none
  display: none
