$footer-height: 3.25rem
%footer-container-child
  display: inline-block
  width: 100%
  height: $footer-height
  border: 0

%BrightContainerComponent
  @extend %bg-2
  .header
    @extend %b-3
    @include shadow($base02, 'down')

  //.footer
    //@extend %b-3

  .block-title a.icon:hover
    @extend %bg-1

  .MenuComponent, .Menu
    > a:hover, > a.active
      @extend %bg-1

.dnd > .wrapper
  background-image: none !important

.dnd > .wrapper > *, .dnd > *
  padding-left: 1rem
  background-repeat: no-repeat
  background-size: 1rem
  background-position: .5rem
  //background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='100' height='100' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3ccircle fill='%23EEE8D5' cx='35' cy='20' r='10'%3e%3c/circle%3e%3ccircle fill='%23EEE8D5' cx='65' cy='20' r='10'%3e%3c/circle%3e%3ccircle fill='%23EEE8D5' cx='35' cy='50' r='10'%3e%3c/circle%3e%3ccircle fill='%23EEE8D5' cx='65' cy='50' r='10'%3e%3c/circle%3e%3ccircle fill='%23EEE8D5' cx='35' cy='80' r='10'%3e%3c/circle%3e%3ccircle fill='%23EEE8D5' cx='65' cy='80' r='10'%3e%3c/circle%3e%3c/g%3e%3c/svg%3e")
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='100' height='100' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3ccircle fill='#{$dnd-dot-color}' cx='35' cy='20' r='#{$dnd-dot-radius}'%3e%3c/circle%3e%3ccircle fill='#{$dnd-dot-color}' cx='65' cy='20' r='#{$dnd-dot-radius}'%3e%3c/circle%3e%3ccircle fill='#{$dnd-dot-color}' cx='35' cy='50' r='#{$dnd-dot-radius}'%3e%3c/circle%3e%3ccircle fill='#{$dnd-dot-color}' cx='65' cy='50' r='#{$dnd-dot-radius}'%3e%3c/circle%3e%3ccircle fill='#{$dnd-dot-color}' cx='35' cy='80' r='#{$dnd-dot-radius}'%3e%3c/circle%3e%3ccircle fill='#{$dnd-dot-color}' cx='65' cy='80' r='#{$dnd-dot-radius}'%3e%3c/circle%3e%3c/g%3e%3c/svg%3e")

  &.dnd-up
    border-top: .3rem solid $base2 !important
  //transition: border-top .1s, border-bottom .1s
  &.dnd-down
    border-bottom: .3rem solid $base2 !important
  //transition: border-top .1s, border-bottom .1s

  &.dnd-target
    background-color: $base03 !important
    > *, &:before
      opacity: .3

.wrapper > *
  box-sizing: border-box
  width: 100%
  max-width: 540px

div.ApplicationComponent, div.Application
  height: 100vh

.containers, .Application, .ApplicationComponent, .popup-window
  height: 100%
  > .wrapper
    height: 100%
    vertical-align: top
    display: flex
    flex-direction: row

    /*
     *     Separators for  "Application > .Container > .Container"
     */

    > .Container > .blocks > .wrapper > .Container
      &:first-child::before, &.join
        content: none
      &::before
        @extend %b-2
        border-bottom-style: solid
        border-bottom-width: 1px
        display: block
        content: ""
        width: calc(100% - 2rem)
        margin-left: 1rem
        height: 1px
        margin-top: 1rem

    > .container, > .BlockComponent, > .Block, > .ContainerComponent, > .Container /* framework */
      text-align: left
      &.menu-bar, &.nav
        @extend %BrightContainerComponent
        flex-grow: 0
        border-right-width: 0
        width: auto
        min-width: 300px
        >.header
          &.icon
            padding-left: 4rem
            &:before
              font-size: 2rem
              line-height: 2rem
              top: .5rem
          .ButtonComponent, .Button
            &:hover
              @extend %bg-1
      &.fullscreen
        max-width: 100%
      @extend %b-3
      height: 100%
      max-height: 100vh
      flex-grow: 1
      border-right-width: 1px
      border-right-style: solid
      position: relative
      //&:last-child
        border-right-width: 0
      hr
        @extend %b-3
        margin-left: 1rem
        margin-right: 1rem
        border-top-width: 1px
        border-top-style: solid
        border-bottom: 0

      > .header
        //@extend %shadow
        @include shadow($base03, 'down')
        position: absolute
        top: 0
        left: 0
        right: 0
        z-index: 10
        box-sizing: border-box

        padding: 1rem
        overflow: hidden


        &.icon
          padding-left: 3.5rem
          &:before
            @extend %color-I
            font-size: 1.5rem
            line-height: 1.5rem
            position: absolute
            top: .8rem
            left: 1rem

        h1
          @extend %color-I
          font-size: 1.13em
          margin: 0 0 .25em 0
          white-space: nowrap

        h2
          @extend %color-III
          font-size: .9em
          font-weight: normal
          margin: 0
          white-space: nowrap

      &.footer > .blocks
        padding-bottom: $footer-height

      > .blocks
        padding-top: 5rem
        height: 100%
        box-sizing: border-box
        > .blocks-wrapper
          @extend %scrollbar
          height: 100%
          overflow-y: auto
          //padding-top: 1rem
          box-sizing: border-box
          > .Iframe
            border: 0
            height: calc(100% - .5rem)
            padding: 0
      &.padding > .blocks > .blocks-wrapper
        padding-left: 1rem
        padding-right: 1rem
        .blocks-wrapper, .ContainerComponent > .header
          padding-left: 0
          padding-right: 0


      .footer-container
        @extend %b-3
        border-width: 0
        border-top-width: 1px
        border-top-style: solid

        position: absolute
        bottom: 0
        left: 0
        right: 0
        z-index: 9
        height: $footer-height
        box-sizing: border-box
        overflow: hidden
        & > *
          @extend %footer-container-child



